@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body{
  background-color: #081b29;
}


/* Styles for the container div */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Styles for the heading */
h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Styles for the machine status heading */
h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Styles for the status paragraph */
p {
  font-size: 16px;
  margin-bottom: 10px;
}

/* Styles for the loading message */
.loading-message {
  font-style: italic;
  color: #666;
}

/* Styles for the entire component */
.home-container {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styles for the status sections */
.status-section {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styles for running status */
.running-status {
  color: green;
}

/* Styles for stopped status */
.stopped-status {
  color: red;
}
